@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.back{
  background-color: #214a84;
}

.zin{
  z-index: 9999999 !important;
}

.wpp{
  width: auto;
  height: 75px;
 
}
.nav{
  height: auto;
}

.navt:hover{
  background-color: #F8B500;
  color: white;
}

.logo{
  width: auto;
  height: 4rem;
}

.txt:hover{
  color: #F8B500;
}

.ham:hover{
  background-color: #F8B500;
  color: white;
}

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;

  z-index: -1;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black font-bold mt-5;
}

.hero__sub {
  @apply text-[18px] text-black mt-5;
}

.bicon{
  color: #0000fe;
  width: 32px;
  height: 32px;
  display: inline;
}


.bt{

  color: white !important; 
  background-color: #0000fe !important;


}

.bt:hover{
  background-color: #05058d !important;
}
